# Evita subir dependencias y entornos locales
node_modules/
.env

# Archivos del frontend
frontend/build/
frontend/.env

# Archivos del backend
backend/.env

# Archivos del sistema/editor
.DS_Store
*.log
.vscode/
